population prediction flow.json
[{"id":"47605175.ec4aa","type":"tab","label":"pop flow","disabled":false,"info":""},{"id":"5878877e.0141d8","type":"function","z":"47605175.ec4aa","name":"PreToken","func":"global.set(\"year\",msg.payload.ye)\nvar apikey=\"GYcSWFWKfkqMq6nxGlVjCdVbz0ZnGria2eSpKT2_07J0\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":320,"wires":[["8ec242fb.cd6c8"]]},{"id":"8ec242fb.cd6c8","type":"http request","z":"47605175.ec4aa","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":320,"wires":[["4a60116d.66aa8"]]},{"id":"b0c2d2cd.40359","type":"inject","z":"47605175.ec4aa","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100.5,"y":230.00000286102295,"wires":[["5878877e.0141d8"]]},{"id":"4cfa38e6.a875b8","type":"debug","z":"47605175.ec4aa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":930,"y":140,"wires":[]},{"id":"4a60116d.66aa8","type":"function","z":"47605175.ec4aa","name":"Pre Prediction","func":"var ye = global.get('year')\nvar token=msg.payload.access_token\nvar instance_id=\"35c54977-26d0-4d8b-bb01-7f2514332370\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"fields\": [\"year\"], \"values\": [[ye]]}\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":260,"wires":[["f863affd.faa6a"]]},{"id":"f863affd.faa6a","type":"http request","z":"47605175.ec4aa","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/35c54977-26d0-4d8b-bb01-7f2514332370/deployments/1367e4a8-2fad-4c83-8592-5b5a721bf344/online","tls":"","persist":false,"proxy":"","authType":"","x":744.5000076293945,"y":212.00000381469727,"wires":[["7e13fcc3.d632a4","4cfa38e6.a875b8"]]},{"id":"7f52f99b.22e968","type":"ui_form","z":"47605175.ec4aa","name":"","label":"","group":"4dc08249.1a0eac","order":0,"width":0,"height":0,"options":[{"label":"year","value":"ye","type":"number","required":true}],"formValue":{"ye":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":380,"wires":[["5878877e.0141d8"]]},{"id":"60eb29d0.538d28","type":"ui_text","z":"47605175.ec4aa","group":"4dc08249.1a0eac","order":1,"width":0,"height":0,"name":"","label":"Avg_population","format":"{{msg.payload}}","layout":"row-spread","x":920,"y":80,"wires":[]},{"id":"7e13fcc3.d632a4","type":"function","z":"47605175.ec4aa","name":"","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":100,"wires":[["4cfa38e6.a875b8","60eb29d0.538d28"]]},{"id":"4dc08249.1a0eac","type":"ui_group","z":"","name":"Default","tab":"ab14ab43.bde5c8","disp":true,"width":"6","collapse":false},{"id":"ab14ab43.bde5c8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]